{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "prettier",
    "prettier/react",
    "cleo-one"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["import", "react", "jsx-a11y", "react-hooks"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }

  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  }
}
